<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mongodb.stitch.android.core">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- StitchInitProvider is a ContentProvider that will associate the application's Context
          with Stitch. It also will look for resource values such as stitch_client_app_id to register
           a default app client.
        -->
        <provider
            android:name=".internal.StitchInitProvider"
            android:authorities="${applicationId}.StitchInitProvider"
            android:exported="false" />
    </application>
</manifest>
